<template>
<div class="">
    <div id="chart"></div>
</div>
</template>

<script src="https://d3js.org/d3.v3.min.js"></script><script>
import * as d3 from "d3";
import csvdata from "../json/csvjson.json";
import $ from "jquery";
var mainnode = '';
var _this = '';
var width = '';
var height = '';
var root = [];
var expand = true;
var clicktxt_cat;
var clicktxt_sub;
var clicktxt_subcat;
export default {
    name: "TreeChartNew",
    data() {
        return {
            newData: csvdata
        };
    },
    mounted() {
        var data = this.getnewData(this.newData);
        this.treechart(data)
    },
    methods: {
        // ----------------------- Initializing the main node ----------------------------- //
        treechart(data) {
            _this = this
            width = $(document).width();
            height = $(document).height();
            root.push(data);
            var svg = d3.select("#chart").append("svg")
                .attr('class', 'Main_svg')
                .attr("width", width)
                .attr("height", height);
            mainnode = svg.append('g').attr('class', 'Main_g');
            // ---------------------- Drop-shadow filter for nodes -------------------------- //
            var defs = mainnode.append("defs")
            var dropShadowFilter = defs.append('svg:filter')
                .attr('id', 'drop-shadow')
                .attr('filterUnits', "objectBoundingBox")
                .attr('width', '250%')
                .attr('height', '250%');
            dropShadowFilter.append('svg:feGaussianBlur')
                .attr('in', 'SourceGraphic')
                .attr('stdDeviation', 2)
                .attr('result', 'blur-out');
            dropShadowFilter.append('svg:feColorMatrix')
                .attr('in', 'blur-out')
                .attr('type', 'matrix')
                .attr('values', "0   0   0   0   0 0   0   0   0   0 0   0   0   0   0 0   0   0   0.3   0")
                .attr('result', 'color-out');
            dropShadowFilter.append('svg:feOffset')
                .attr('in', 'color-out')
                .attr('dx', 3)
                .attr('dy', 3)
                .attr('result', 'the-shadow');
            dropShadowFilter.append('svg:feBlend')
                .attr('in', 'SourceGraphic')
                .attr('in2', 'the-shadow')
                .attr('mode', 'normal');
            // ------------------- Appending Main node ------------------------------ //
            mainnode
                .selectAll('circle')
                .data(root)
                .enter()
                .append('circle')
                .attr('class', function (d) {
                    if (d.name == '') {
                        return 'MainNode'
                    }
                })
                .attr('r', 15)
                .attr('cx', width / 2)
                .attr('cy', height / 2)
                .style('fill', 'rgb(142,224,0)')
                .style("filter", "url(#drop-shadow)")
            // -------------------------- Clicking on Main node --------------------------- //
            $('.MainNode').on('click', function (d) {
                var center_coordinates = [d3.select(this).attr('cx'), d3.select(this).attr('cy')]
                var children_l = root[0].children.length;
                var children_degree = 360 / children_l;
                // ------------- Appending lines with transition ---------------------- //
                mainnode.selectAll('line')
                    .data(root[0].children)
                    .enter()
                    .append('line')
                    .attr('class', function (d, i) {
                        return 'line-lvl1 ' + d.type + ' d_' + d.id.toString() + ' c_' + i;
                    })
                    .attr('x1', function (d, i) {
                        return (width / 2) + (15 * Math.cos(children_degree * 3.14 / 180 * i))
                    })
                    .attr('y1', function (d, i) {
                        return (height / 2) + (15 * Math.sin(children_degree * 3.14 / 180 * i))
                    })
                    .attr('x2', function (d, i) {
                        return (width / 2)
                    })
                    .attr('y2', function (d, i) {
                        return (height / 2)
                    })
                    .style('stroke', 'white')
                    .style('opacity', '0')
                    .transition()
                    .delay(function (d, i) {
                        return 100 * i;
                    })
                    .duration(1000)
                    .attr('x2', function (d, i) {
                        return (width / 2) + (150 * Math.cos(children_degree * 3.14 / 180 * i))
                    })
                    .attr('y2', function (d, i) {
                        return (height / 2) + (150 * Math.sin(children_degree * 3.14 / 180 * i))
                    })
                    .style('stroke', 'black')
                    .style('opacity', '0.15')
                // ----------------------- Appending hover-circles with transition -------------------- //
                mainnode
                    .selectAll('.hover-node-lvl1')
                    .data(root[0].children)
                    .enter()
                    .append('circle')
                    .attr('class', function (d, i) {
                        return 'hover-node-lvl1 ' + d.type + ' d_' + d.id.toString() + ' c_' + i;
                    })
                    .attr('cx', function (d, i) {
                        return (width / 2) + (150 * Math.cos(children_degree * 3.14 / 180 * i))
                    })
                    .attr('cy', function (d, i) {
                        return (height / 2) + (150 * Math.sin(children_degree * 3.14 / 180 * i))
                    })
                    .attr("r", "17")
                    .attr("fill", "transparent")
                    .style("stroke", "#00B0A7")
                    .style("stroke-width", "3")
                    .style("stroke-dasharray", 5)
                    .style("display", "none")
                // -------------------- Appending nodes with transition ---------------------- //
                mainnode
                    .selectAll('.node-lvl1')
                    .data(root[0].children)
                    .enter()
                    .append('circle')
                    .attr('class', function (d, i) {
                        return 'node-lvl1 ' + d.type + ' d_' + d.id.toString() + ' c_' + i;
                    })
                    .on("mouseenter", function (d, i) {
                        if (d3.select(this).style('opacity') == '0.3' || d3.select(this).style('opacity') == '0.98') {
                            return false;
                        }
                        if (d.children && d.children.length == 0) {
                            return false;
                        }
                        d3.select(this)
                            .attr("r", 12)
                            .style("opacity", '0.2')
                        if (d3.select(this).attr('class').split(' ')[4] == 'expand_level') {
                            return false
                        }
                        var hoverclass = d3.select(this).attr('class').replace('node', 'hover-node');
                        d3.select('.' + hoverclass.split(' ')[0] + '.' + hoverclass.split(' ')[1] + '.' + hoverclass.split(' ')[2] + '.' + hoverclass.split(' ')[3]).style("display", "block")

                        mainnode.append("text")
                            .attr('class', 'over_text')
                            .attr('x', function (d) {
                                return (width / 2) + (150 * Math.cos(children_degree * 3.14 / 180 * i))
                            })
                            .attr('y', function (d) {
                                return (height / 2) + (150 * Math.sin(children_degree * 3.14 / 180 * i))
                            })
                            .text(function (d) {
                                return 'Explore'
                            })
                            .attr('text-anchor', 'middle')
                            .style("font", "10px serif")
                            .style("fill", "#00B0A7")
                            .on("mouseenter", function (d, i) {
                              d3.select('.' + hoverclass.split(' ')[0] + '.' + hoverclass.split(' ')[1] + '.' + hoverclass.split(' ')[2] + '.' + hoverclass.split(' ')[3]).style("display", "block")
                            })
                    })
                    .on("mouseout", function (d) {
                        if (d3.select(this).style('opacity') == '0.3' || d3.select(this).style('opacity') == '0.98') {
                            return false;
                        }
                        var cla = d3.select(this).attr('class')
                        $('.over_text').remove()
                        var hoverclass = d3.select(this).attr('class').replace('node', 'hover-node');
                        d3.select('.' + hoverclass.split(' ')[0] + '.' + hoverclass.split(' ')[1] + '.' + hoverclass.split(' ')[2] + '.' + hoverclass.split(' ')[3]).style("display", "none")
                        d3.select(this)
                            .attr("r", function (d) {
                                return cla.split(' ')[4] == 'expand_level' ? 15 : 7;
                            });
                        d3.select(this)
                            .style("opacity", '1');
                    })
                    .on('click', function (d) {
                        if (d.children && d.children.length == 0) {
                            return false;
                        }
                        if (d3.select(this).style('opacity') == '0.98') {
                            return false;
                        }
                        var this_store = this;
                        _this.nexttree(d, this, this_store);
                    })
                    .attr('r', 7)
                    .attr('cx', function (d, i) {
                        return (width / 2)
                    })
                    .attr('cy', function (d, i) {
                        return (height / 2)
                    })
                    .attr('fill', function (d) {
                        return 'transparent'
                    })
                    .transition()
                    .delay(function (d, i) {
                        return 100 * i;
                    })
                    .duration(1000)
                    .attr('cx', function (d, i) {
                        return (width / 2) + (150 * Math.cos(children_degree * 3.14 / 180 * i))
                    })
                    .attr('cy', function (d, i) {
                        return (height / 2) + (150 * Math.sin(children_degree * 3.14 / 180 * i))
                    })
                    .attr('fill', function (d) {
                        return d.children ? d.children.length > 0 ? "rgb(142,224,0)" : "rgb(136,175,230)" : "rgb(136,175,230)"
                    })
                    .style("cursor", "pointer")
                    .style("filter", "url(#drop-shadow)")
                // -------------------------- Appending text with transition ----------------------- //
                mainnode
                    .selectAll('text')
                    .data(root[0].children)
                    .enter()
                    .append('text')
                    .attr('class', function (d, i) {
                        return 'text ' + d.type + ' d_' + d.id.toString() + ' c_' + i
                    })
                    .attr("x", function (d, i) {
                        var x_txt = (width / 2) + (165 * Math.cos(children_degree * 3.14 / 180 * i));
                        if ((x_txt > (width / 2) - 30) && (x_txt < width / 2)) {
                            return x_txt + 20;
                        }
                        if ((x_txt > width / 2) && (x_txt < (width / 2) + 30)) {
                            return x_txt - 10;
                        }
                        return (width / 2) + (165 * Math.cos(children_degree * 3.14 / 180 * i))
                    })
                    .attr("y", function (d, i) {
                        return (height / 2) + (165 * Math.sin(children_degree * 3.14 / 180 * i))
                    })
                    .text(function (d) {
                        return d.name;
                    })
                    .style("font", "10px serif")
                    .style("opacity", '0')
                    .transition()
                    .delay(function (d, i) {
                        return 100 * i;
                    })
                    .duration(1000)
                    .attr("text-anchor", function (d, i) {
                        if (i < children_l / 4) {
                            return 'start'
                        } else if (i < children_l / 2) {
                            return 'end'
                        } else if (i < 3 * children_l / 4) {
                            return 'end'
                        } else {
                            return 'start'
                        }
                    })
                    .style("opacity", '0.7')
            })
        },
        // ------------------------ Collapsing of tree on click ----------------------------- //
        collapsetree(clckd_ele, clck_eve) {
            var ele_class_1 = d3.select(clck_eve).attr('class').split(' ')[1];
            var ele_class_2 = d3.select(clck_eve).attr('class').split(' ')[2];
            var selcted_line = d3.select('svg g').select('.line-lvl1.' + ele_class_1 + '.' + ele_class_2);
            var selected_node = d3.select('svg g').select('.node-lvl1.' + ele_class_1 + '.' + ele_class_2);
            var selected_text = d3.select('svg g').select('.text.' + ele_class_1 + '.' + ele_class_2);
            var collapsed_data = clckd_ele.children;
            var type = clckd_ele.type;
            if (type == 'subject') {
                var newtype = 'category';
            } else if (type == 'sub-category') {
                var newtype = 'subject';
            } else if (type == 'topic') {
                var newtype = 'sub-category';
            }
            var x_centre = parseFloat(d3.select(selcted_line["_groups"][0][0]).attr('x1'));
            var y_centre = parseFloat(d3.select(selcted_line["_groups"][0][0]).attr('y1'));
            var x_co = parseFloat(d3.select(selcted_line["_groups"][0][0]).attr('x2'));
            var y_co = parseFloat(d3.select(selcted_line["_groups"][0][0]).attr('y2'));
            var text_anc;
            if (d3.select(selected_text["_groups"][0][0]).attr('class').split(' ')[1] == 'category') {
                text_anc = clicktxt_cat;
            } else if (d3.select(selected_text["_groups"][0][0]).attr('class').split(' ')[1] == 'subject') {
                text_anc = clicktxt_sub;
            } else if (d3.select(selected_text["_groups"][0][0]).attr('class').split(' ')[1] == 'sub-category') {
                text_anc = clicktxt_subcat;
            }
            // ----------------- Collapsing the tree with transition ---------------- //
            for (var i = 0; i < collapsed_data.length; i++) {
                var name_1 = collapsed_data[i].type
                var name_2 = 'd_' + collapsed_data[i].id.toString();
                var x_end = d3.select('svg g').select('.node-lvl1.' + name_1 + '.' + name_2).attr('cx')
                var y_end = d3.select('svg g').select('.node-lvl1.' + name_1 + '.' + name_2).attr('cy')
                d3.select('svg g').select('.text.' + name_1 + '.' + name_2)
                    .style('display', 'block')
                    .transition()
                    .delay(100 * i)
                    .duration(1000)
                    .style('display', 'none')
                d3.select('svg g').select('.line-lvl1.' + name_1 + '.' + name_2)
                    .attr('x1', x_co)
                    .attr('y1', y_co)
                    .attr('x2', x_end)
                    .attr('y2', y_end)
                    .transition()
                    .delay(100 * i)
                    .duration(1000)
                    .attr('x2', x_co)
                    .attr('y2', y_co);
                d3.select('svg g').select('.node-lvl1.' + name_1 + '.' + name_2)
                    .attr('cx', x_end)
                    .attr('cy', y_end)
                    .transition()
                    .delay(100 * i)
                    .duration(1000)
                    .attr('cx', x_co)
                    .attr('cy', y_co)
                    .style('fill', 'transparent');
            }
            // ---------------- On collapse getting back that node to its original position ---------------------- //
            setTimeout(function () {
                $('.complete_' + ele_class_1).remove();
                var class_len = parseFloat(d3.select(selcted_line["_groups"][0][0]).attr('class').split(' ')[3].split('_')[1])
                var ang = Math.acos(((x_co - x_centre) / 600).toFixed(7)) * 180 / 3.14;
                var a = d3.select(clck_eve);
                var b = a["_groups"][0][0].parentNode.childNodes;
                var parent_array = [];
                for (var i = 0; i < b.length; i++) {
                    var c = d3.select(b[i]);
                    var d = d3.select(c["_groups"][0][0]) ? (d3.select(c["_groups"][0][0]).attr('class') ? d3.select(c["_groups"][0][0]).attr('class').split(' ')[0] : '') : '';
                    if (d == 'node-lvl1') {
                        parent_array.push(b[i])
                    }
                }
                if (class_len > parent_array.length / 2) {
                    ang = 180 + (180 - ang)
                }
                var x_mid = x_centre + (135 * Math.cos(ang * 3.14 / 180));
                var y_mid = y_centre + (135 * Math.sin(ang * 3.14 / 180));
                var txt_x_mid = x_centre + (150 * Math.cos(ang * 3.14 / 180));
                var txt_y_mid = y_centre + (150 * Math.sin(ang * 3.14 / 180));
                d3.select(selcted_line["_groups"][0][0])
                    .attr('x1', x_centre)
                    .attr('y1', y_centre)
                    .attr('x2', x_co)
                    .attr('y2', y_co)
                    .transition()
                    .duration(1000)
                    .attr('x2', x_mid)
                    .attr('y2', y_mid);
                d3.select(selected_node["_groups"][0][0])
                    .attr('cx', x_co)
                    .attr('cy', y_co)
                    .attr('r', 15)
                    .transition()
                    .duration(1000)
                    .attr('cx', x_mid)
                    .attr('cy', y_mid)
                    .attr('r', 7)
                d3.select(selected_text["_groups"][0][0])
                    .attr('x', x_co)
                    .attr('y', y_co)
                    .transition()
                    .duration(1000)
                    .attr('x', function (d) {
                        if ((txt_x_mid > (width / 2) - 30) && (txt_x_mid < width / 2)) {
                            return txt_x_mid + 20;
                        }
                        if ((txt_x_mid > width / 2) && (txt_x_mid < (width / 2) + 30)) {
                            return txt_x_mid - 10;
                        }
                        return txt_x_mid
                    })
                    .attr('y', txt_y_mid)
                    .attr('text-anchor', text_anc)
                    .style("font-weight", "normal")
                    .style("font", "10px serif");
                expand = false;
                d3.select('svg g').selectAll('.line-lvl1.' + type).style('opacity', '0.15')
                d3.select('svg g').selectAll('.node-lvl1.' + type).style('opacity', '1');
                d3.select('svg g').selectAll('.text.' + type).style('opacity', '0.7');
                if (newtype) {
                    var clss_new = d3.select('svg g').selectAll('.node-lvl1.' + newtype + '.expand_level').attr('class');
                    d3.select('svg g').select('.text.' + clss_new.split(' ')[1] + '.' + clss_new.split(' ')[2] + '.' + clss_new.split(' ')[3]).style('opacity', '0.7')
                }
                d3.select('svg g').selectAll('.node-lvl1.' + newtype + '.expand_level').style('opacity', '1');
            }, 1000)
        },

        // ----------------------- Creating new extended tree node on click of node ------------------- //  
        nexttree(clckd_ele, clck_eve) {
            var ele_class_1 = d3.select(clck_eve).attr('class').split(' ')[1];
            var ele_class_2 = d3.select(clck_eve).attr('class').split(' ')[2];
            var selcted_line = d3.select('svg g').select('.line-lvl1.' + ele_class_1 + '.' + ele_class_2);
            var selected_node = d3.select('svg g').select('.node-lvl1.' + ele_class_1 + '.' + ele_class_2);
            var selected_text = d3.select('svg g').select('.text.' + ele_class_1 + '.' + ele_class_2);
            var class_new = d3.select(selected_node["_groups"][0][0]).attr('class');
            if (class_new.split(' ')[4] == 'expand_level') {
                $(selected_node["_groups"][0][0]).removeClass('expand_level');
                this.collapsetree(clckd_ele, clck_eve);
                setTimeout(function () {
                    _this.centerNode(d, clck_eve);
                }, 2000)
                return false;
            } else {
                expand = true;
                $(selected_node["_groups"][0][0]).addClass('expand_level');
            }
            var x_centre = parseFloat(d3.select(selcted_line["_groups"][0][0]).attr('x1'));
            var y_centre = parseFloat(d3.select(selcted_line["_groups"][0][0]).attr('y1'));
            var x_co = parseFloat(d3.select(selcted_line["_groups"][0][0]).attr('x2'));
            var y_co = parseFloat(d3.select(selcted_line["_groups"][0][0]).attr('y2'));
            var class_len = parseFloat(d3.select(selcted_line["_groups"][0][0]).attr('class').split(' ')[3].split('_')[1])
            var ang = Math.acos((x_co - x_centre) / 135) * 180 / 3.14;
            var a = d3.select(clck_eve);
            var b = a["_groups"][0][0].parentNode.childNodes;
            var parent_array = [];
            for (var i = 0; i < b.length; i++) {
                var c = d3.select(b[i]);
                var d = d3.select(c["_groups"][0][0]) ? (d3.select(c["_groups"][0][0]).attr('class') ? d3.select(c["_groups"][0][0]).attr('class').split(' ')[0] : '') : '';
                if (d == 'node-lvl1') {
                    parent_array.push(b[i])
                }
            }
            if (class_len > parent_array.length / 2) {
                ang = 180 + (180 - ang)
            }

            var x3 = x_centre + (600 * Math.cos(ang * 3.14 / 180));
            var y3 = y_centre + (600 * Math.sin(ang * 3.14 / 180));
            d3.select('svg g').selectAll('.line-lvl1').style('opacity', '0.05')
            d3.select('svg g').selectAll('.node-lvl1').style('opacity', '0.3')
            d3.selectAll('.expand_level').style('opacity', '0.98')
            d3.select('svg g').selectAll('.text').style('opacity', '0.3')
            d3.select(selcted_line["_groups"][0][0])
                .attr('x2', x_co)
                .attr('y2', y_co)
                .transition()
                .delay(100)
                .duration(1000)
                .attr('x2', x3)
                .attr('y2', y3)
            d3.select(selected_node["_groups"][0][0])
                .attr('x2', x_co)
                .attr('y2', y_co)
                .transition()
                .delay(100)
                .duration(1000)
                .attr('cx', x3)
                .attr('cy', y3);
            if (d3.select(selected_text["_groups"][0][0]).attr('class').split(' ')[1] == 'category') {
                clicktxt_cat = d3.select(selected_text["_groups"][0][0]).attr('text-anchor');
            } else if (d3.select(selected_text["_groups"][0][0]).attr('class').split(' ')[1] == 'subject') {
                clicktxt_sub = d3.select(selected_text["_groups"][0][0]).attr('text-anchor');
            } else if (d3.select(selected_text["_groups"][0][0]).attr('class').split(' ')[1] == 'sub-category') {
                clicktxt_subcat = d3.select(selected_text["_groups"][0][0]).attr('text-anchor');
            }
            d3.select(selected_node["_groups"][0][0]).attr('r', 15);
            d3.select(selected_text["_groups"][0][0]).attr('x', x3);
            d3.select(selected_text["_groups"][0][0]).attr('y', y3 - 25);
            d3.select(selected_node["_groups"][0][0]).style('opacity', '1')
            d3.select(selcted_line["_groups"][0][0]).style('opacity', '0.15');
            d3.select(selected_text["_groups"][0][0])
                .style('opacity', '0')
                .transition()
                .delay(100)
                .duration(1000)
                .style('opacity', '0.7')
                .style("font", "12px serif")
                .attr('text-anchor', 'middle')
                .style("font-weight", "bold")
            setTimeout(function () {
                _this.plotnexttree(clckd_ele, clck_eve, x3, y3);
            }, 1000)
            setTimeout(function () {
                _this.centerNode(d, clck_eve);
            }, 1000)
        },

        // ----------------------- Creating the tree for extended node ------------------------- //
        plotnexttree(clckd_ele, clck_eve, x3, y3) {
            var ele_class_1 = d3.select(clck_eve).attr('class').split(' ')[1];
            var children_l = (clckd_ele.children).length;
            var children_degree = 360 / children_l;
            var category_node = mainnode.append('g').attr('class', 'complete_' + ele_class_1)
            var defs = category_node.append("defs")
            var dropShadowFilter = defs.append('svg:filter')
                .attr('id', 'drop-shadow')
                .attr('filterUnits', "objectBoundingBox")
                .attr('width', width)
                .attr('height', height);
            dropShadowFilter.append('svg:feGaussianBlur')
                .attr('in', 'SourceGraphic')
                .attr('stdDeviation', 2)
                .attr('result', 'blur-out');
            dropShadowFilter.append('svg:feColorMatrix')
                .attr('in', 'blur-out')
                .attr('type', 'matrix')
                .attr('values', "1   0   0   0   0 1   0   0   0   0 1   0   0   0   0 0   0   0   1   0")
                .attr('result', 'color-out');
            dropShadowFilter.append('svg:feOffset')
                .attr('in', 'color-out')
                .attr('dx', 3)
                .attr('dy', 3)
                .attr('result', 'the-shadow');
            dropShadowFilter.append('svg:feBlend')
                .attr('in', 'SourceGraphic')
                .attr('in2', 'the-shadow')
                .attr('mode', 'normal');
            // ------------------ Appending lines with transition for futher levels -------------------- //
            category_node.selectAll('line')
                .data(clckd_ele.children)
                .enter()
                .append('line')
                .attr('class', function (d, i) {
                    return 'line-lvl1 ' + d.type + ' d_' + d.id.toString() + ' c_' + i
                })
                .attr('x1', function (d, i) {
                    return x3 + (15 * Math.cos(children_degree * 3.14 / 180 * i))
                })
                .attr('y1', function (d, i) {
                    return y3 + (15 * Math.sin(children_degree * 3.14 / 180 * i))
                })
                .attr('x2', function (d, i) {
                    return x3
                })
                .attr('y2', function (d, i) {
                    return y3
                })
                .style('stroke', 'white')
                .style('opacity', '0')
                .transition()
                .delay(function (d, i) {
                    return 100 * i;
                })
                .duration(1000)
                .attr('x2', function (d, i) {
                    return x3 + (150 * Math.cos(children_degree * 3.14 / 180 * i))
                })
                .attr('y2', function (d, i) {
                    return y3 + (150 * Math.sin(children_degree * 3.14 / 180 * i))
                })
                .style('stroke', 'black')
                .style('opacity', '0.15')
                .style('z-index', '1000')
            // ------------------ Appending hover circles with transition for futher levels -------------------- //
            category_node
                .selectAll('.hover-node-lvl1')
                .data(clckd_ele.children)
                .enter()
                .append('circle')
                .attr('class', function (d, i) {
                    return 'hover-node-lvl1 ' + d.type + ' d_' + d.id.toString() + ' c_' + i;
                })
                .attr('cx', function (d, i) {
                    return x3 + (150 * Math.cos(children_degree * 3.14 / 180 * i))
                })
                .attr('cy', function (d, i) {
                    return y3 + (150 * Math.sin(children_degree * 3.14 / 180 * i))
                })
                .attr("r", "17")
                .attr("fill", "transparent")
                .style("stroke", "#00B0A7")
                .style("stroke-width", "3")
                .style("stroke-dasharray", 5)
                .style("display", "none")
            // ------------------ Appending nodes with transition for futher levels -------------------- //
            category_node
                .selectAll('node-lvl1')
                .data(clckd_ele.children)
                .enter()
                .append('circle')
                .attr('class', function (d, i) {
                    return 'node-lvl1 ' + d.type + ' d_' + d.id.toString() + ' c_' + i
                })
                .on("mouseover", function (d, i) {
                    if (d3.select(this).style('opacity') == '0.3' || d3.select(this).style('opacity') == '0.98') {
                        return false;
                    }
                    if (d.children && d.children.length == 0) {
                        return false;
                    }
                    d3.select(this)
                        .attr("r", 12)
                        .style("opacity", '0.2')
                    if (d3.select(this).attr('class').split(' ')[4] == 'expand_level') {
                        return false
                    }
                    var hoverclass = d3.select(this).attr('class').replace('node', 'hover-node');
                    d3.select('.' + hoverclass.split(' ')[0] + '.' + hoverclass.split(' ')[1] + '.' + hoverclass.split(' ')[2] + '.' + hoverclass.split(' ')[3]).style("display", "block")

                    category_node.append("text")
                        .attr('class', 'over_text')
                        .attr('x', function (d) {
                            return x3 + (150 * Math.cos(children_degree * 3.14 / 180 * i))
                        })
                        .attr('y', function (d) {
                            return y3 + (150 * Math.sin(children_degree * 3.14 / 180 * i))
                        })
                        .text(function (d) {
                            return 'Explore'
                        })
                        .attr('text-anchor', 'middle')
                        .style("font", "10px serif")
                        .style("fill", "#00B0A7")
                })
                .on("mouseleave", function (d) {
                    if (d3.select(this).style('opacity') == '0.3' || d3.select(this).style('opacity') == '0.98') {
                        return false;
                    }
                    $(".over_text").remove();
                    var hoverclass = d3.select(this).attr('class').replace('node', 'hover-node');
                    d3.select('.' + hoverclass.split(' ')[0] + '.' + hoverclass.split(' ')[1] + '.' + hoverclass.split(' ')[2] + '.' + hoverclass.split(' ')[3]).style("display", "none")
                    var cla = d3.select(this).attr('class')
                    d3.select(this)
                        .attr("r", function (d) {
                            return cla.split(' ')[4] == 'expand_level' ? 15 : 7;
                        });
                    d3.select(this)
                        .style("opacity", '1');
                })
                .on('click', function (d) {
                    if (d.children && d.children.length == 0) {
                        return false;
                    }
                    if (d3.select(this).style('opacity') == '0.98') {
                        return false;
                    }
                    _this.nexttree(d, this);
                })
                .attr('r', 7)
                .attr('cx', function (d, i) {
                    return x3
                })
                .attr('cy', function (d, i) {
                    return y3
                })
                .attr('fill', 'transparent')
                .transition()
                .delay(function (d, i) {
                    return 100 * i;
                })
                .duration(1000)
                .attr('cx', function (d, i) {
                    return x3 + (150 * Math.cos(children_degree * 3.14 / 180 * i))
                })
                .attr('cy', function (d, i) {
                    return y3 + (150 * Math.sin(children_degree * 3.14 / 180 * i))
                })
                .attr('fill', function (d) {
                    return d.children ? d.children.length > 0 ? "rgb(142,224,0)" : "rgb(136,175,230)" : "rgb(136,175,230)";
                })
                .style("cursor", "pointer")
                .style("filter", "url(#drop-shadow)")
            // ------------------ Appending text with transition for futher levels -------------------- //
            category_node
                .selectAll('text')
                .data(clckd_ele.children)
                .enter()
                .append('text')
                .attr("x", function (d, i) {
                    return x3 + (165 * Math.cos(children_degree * 3.14 / 180 * i))
                })
                .attr("y", function (d, i) {
                    return y3 + (165 * Math.sin(children_degree * 3.14 / 180 * i))
                })
                .attr('class', function (d, i) {
                    return 'text ' + d.type + ' d_' + d.id.toString() + ' c_' + i
                })
                .text(function (d) {
                    return d.name;
                })
                .style("font", "10px serif")
                .style("opacity", '0')
                .transition()
                .delay(function (d, i) {
                    return 100 * i;
                })
                .duration(1000)
                .style("opacity", '0.7')
                .attr("text-anchor", function (d, i) {
                    if (i < children_l / 4) {
                        return 'start'
                    } else if (i < children_l / 2) {
                        return 'end'
                    } else if (i < 3 * children_l / 4) {
                        return 'end'
                    } else {
                        return 'start'
                    }
                })
        },

        // -------------------------- Centering the each tree for next level or on collapsing ----------------- //
        centerNode(clck_ele, clck_eve) {
            if (expand == true) {
                var x_co = d3.select(clck_eve).attr('cx');
                var y_co = d3.select(clck_eve).attr('cy');
                var x_centre = d3.select('.MainNode').attr('cx');
                var y_centre = d3.select('.MainNode').attr('cy');
                var x = -(x_co - x_centre);
                var y = -(y_co - y_centre);
                d3.select("g")
                    .transition()
                    .duration(1000)
                    .attr(
                        "transform",
                        "translate(" + x + "," + y + ")"
                    );
            } else {
                var new_class = d3.select(clck_eve).attr('class');
                var classss = new_class.replace('node-lvl1', 'line-lvl1')
                var new_ele = $('.' + classss.split(' ')[0] + '.' + classss.split(' ')[1] + '.' + classss.split(' ')[2] + '.' + classss.split(' ')[3]);
                var ll = $('.' + classss.split(' ')[0] + '.' + classss.split(' ')[1] + '.' + classss.split(' ')[2] + '.' + classss.split(' ')[3]).attr('class')
                var dd = d3.select(new_ele);
                var x_co = parseFloat(d3.select(dd["_groups"][0][0][0]).attr('x1'));
                var y_co = parseFloat(d3.select(dd["_groups"][0][0][0]).attr('y1'));
                var x_centre = parseFloat(d3.select('.MainNode').attr('cx'));
                var y_centre = parseFloat(d3.select('.MainNode').attr('cy'));
                var x = (x_centre - x_co);
                var y = (y_centre - y_co);
                d3.select("g")
                    .transition()
                    .duration(1000)
                    .attr(
                        "transform",
                        "translate(" + x + "," + y + ")"
                    );
            }
        },

        // ----------------------- Handling the json data for tree format ----------------------------- //
        getnewData(data) {
            var newData = [];
            for (var d in data) {
                if (data[d].type == "category") {
                    newData.push({
                        name: data[d].name,
                        id: data[d].id,
                        children: [],
                        type: data[d].type
                    });
                }
                if (data[d].type == "subject") {
                    for (var i in newData) {
                        if (newData[i].id == data[d].parent_id) {
                            newData[i].children.push({
                                name: data[d].name,
                                id: data[d].id,
                                children: [],
                                type: data[d].type
                            });
                        }
                    }
                }
            }
            for (var d in data) {
                if (data[d].type == "sub-category") {
                    for (var i in newData) {
                        if (typeof newData[i].children == "object") {
                            for (var j in newData[i]["children"]) {
                                if (newData[i]["children"][j].id == data[d].parent_id) {
                                    newData[i]["children"][j].children.push({
                                        name: data[d].name,
                                        id: data[d].id,
                                        children: [],
                                        type: data[d].type
                                    });
                                }
                            }
                        }
                    }
                }
            }
            for (var d in data) {
                if (data[d].type == "topic") {
                    for (var i in newData) {
                        if (typeof newData[i].children == "object") {
                            for (var j in newData[i]["children"]) {
                                for (var k in newData[i]["children"][j]["children"]) {
                                    if (
                                        newData[i]["children"][j]["children"][k].id ==
                                        data[d].parent_id
                                    ) {
                                        newData[i]["children"][j]["children"][k].children.push({
                                            name: data[d].name,
                                            id: data[d].id,
                                            type: data[d].type
                                        });
                                    }
                                }
                            }
                        }
                    }
                }
            }
            var newObj = {
                name: "",
                children: [...newData]
            };
            return newObj;
        }
    }
}
</script>
