<template>
<div id="app" style="background-color: #F5F5F5">
    <TreeChartNew />
</div>
</template>

<script>
import TreeChartNew from './components/TreeChartNew.vue';

export default {
    name: 'app',
    components: {
        TreeChartNew
    }
}
</script>

<style>
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
</style>
